.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading{
  height: 3.55rem;
  width: 100%;
  border-bottom: 2px dashed #A15FFB;
}
header > div {
  width: 90%;
  margin: auto;
  display: flex;
  height: 3.55rem;
align-items: center;  
}

footer > div {
  width: 90%;
  margin: auto;  
}

footer {
  height: 12rem;
  background-color: #E8E8E8;
  width: 100%;
}
h1{
  color: #A15FFB;
  font-family: caveat, serif;
  margin-bottom: 1rem;
 
}
.drag{
  border: 1px solid red;
}




.grey{
  height: 12rem; 
  background-color: #f1f1f1;
}

.title{
  font-size: 1.8rem;
  text-align: center;
}


.dropzone {
  width: 30rem;
  height: 10rem;
  border: 2px dotted #232324; 
  border-radius: .1rem;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.results{
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.labels{
  width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
