.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading{

  width: 100%;
  position: relative;
}


header > div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;

align-items: center;  
}

footer > div {
  width: 90%;
  margin: auto;  
}

footer {
  height: 5rem;
  background-color: #0B132B;
  width: 100%;
  padding-top: 1rem;
  border-top: 7px solid #6fffe9;
}
h1{

  font-size: 3rem;
  margin: 3rem 0;
 
}

.intro{
  font-size: 1.5rem;
  color: #fff5b2;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
}
.drag{
  border: 1px solid red;
}

.title{
  color: #252525;
}




.grey{
  height: 12rem; 
  background-color: #f1f1f1;
}

.title{
  font-size: 1.8rem;
  text-align: center;
}


.corner-ribbon{
  width: 200px;
  
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #1a1a1a;
  background: #6fffe9;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon a {
  color: #1a1a1a;
  text-decoration: none;
}


.dropzone {
  width: 30rem;
  height: 10rem;
  border: 2px dotted #232324; 
  border-radius: .1rem;
  margin: 1rem  auto 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.results{
  width: 80%;
  margin:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.labels{
  width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
