body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #6fffe9;
  background-color: #0B132B;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
